@import "../../../../SCSS/variables";

.article-element {
  max-width: 85%;
  color: #000;
}

article {
  height: 680px;

  .title {
    @extend .article-element;

    white-space: nowrap;
    letter-spacing: 2px;
  }

  .image {
    @extend .article-element;

    max-height: 200px;
  }

  .text {
    @extend .article-element;

    font-size: 1.1em;
    text-align: justify;
    line-height: 1.35;
  }

  .read-more {
    font-size: 1em;
  }
}
