@import "../../../SCSS/variables";

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 30px;
  width: 100%;
  background-color: rgba($color: $dark, $alpha: 0.9);
  color: #fff;

  .link {
    display: flex;
    align-items: center;
    color: #fff;
    margin: auto 0 auto 10px;
    font-size: 20px;

    &:hover i {
      color: darken($orange, 10%);
    }
  }
}

@media (min-width: 1024px) {
  footer {
    line-height: 40px;
  }
}
