<div class="space">
  <div class="stars"></div>
  <div class="bulb">
    <div class="highlight"></div>
    <div class="shadow"></div>
    <div class="light light-0"></div>
    <div class="light light-1"></div>
    <div class="light light-2"></div>
    <div class="cap">
      <div class="leads">
        <div class="lead lead-1"></div>
        <div class="lead lead-2"></div>
      </div>
      <div class="cap-body"></div>
      <div class="wire"></div>
    </div>
  </div>
</div>

<header>
  <h1 class="title">World of Technology</h1>
  <p class="text">
    Read about programming languages, operating systems, spacecraft and much
    more!
  </p>
  <button class="btn" routerLink="explore">Explore</button>
</header>
