.article-element {
  margin: 20px 0;
  max-width: 85%;
  color: #000;
  letter-spacing: 1px;
}

article {
  height: 100%;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto 150px auto;
  color: #000 !important;

  .title {
    @extend .article-element;

    font-size: 2em;
    white-space: nowrap;
  }

  .image {
    @extend .article-element;

    max-height: 320px;
  }

  .text {
    @extend .article-element;
  }
}
