.article-element {
  margin: 20px 0;
  max-width: 80%;
  color: #000;
  letter-spacing: 1px;
}

article {
  height: 100%;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto 150px auto;

  img {
    max-height: 320px;
  }

  .title {
    @extend .article-element;

    font-size: 2em;
    white-space: nowrap;
  }

  .image {
    @extend .article-element;
  }

  .text {
    @extend .article-element;

    text-align: justify;
  }
}
