@import "../../../SCSS/variables";

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  border-radius: 2px;
  background-color: rgba(#fff, $alpha: 0.55);
  border-bottom: 2px rgba($color: $dark, $alpha: 0.9) solid;
  transition: transform 0.2s;

  .go-back {
    height: 50px;
    width: 60px;
    text-align: center;
    border: transparent 2px solid;
    border-radius: 2px;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
      border: rgba(#fff, 0.8) 2px solid;
      background-color: rgba($color: $dark, $alpha: 0.3);

      & .go-back__icon {
        color: #fff;
      }
    }

    &__icon {
      font-size: 45px;
      color: lighten($dark, 10%);
      transition: color 0.2s;
    }
  }

  .search {
    position: relative;
    width: calc(100% - 60px);
    overflow: hidden;
    z-index: 1;

    &__input {
      height: 50px;
      width: 100%;
      padding: 0 25px;
      border-color: transparent;
      color: $dark;
      font-size: 25px;
      background-color: transparent;
    }

    &__label {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(0, -50%) scale(1);
      font-size: 18px;
      color: lighten($dark, 10%);
      transition: transform 0.25s;
      letter-spacing: 1px;
      z-index: -1;

      &--active {
        transform: translate(130%, -40%) scale(0);
      }
    }
    &__icon {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 16px;
      color: lighten($dark, 10%);
    }
  }
}

.nav-hidden {
  transform: translateY(-100%);
}
