@import "../../../SCSS/variables";

.title {
  margin: 50px auto;
  font-size: 2em;
  text-align: center;
  letter-spacing: 10px;
  color: $orange;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  display: grid;
  gap: 30px;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto 150px auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

@media (orientation: landscape) {
  .content-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .content-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  .content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
